<div class="mainFull">
    <div class="mainNav">
        <ul class="nav">
            <li class="navList"><a class="navLink" routerLink='' routerLinkActive='navLinkActive' [routerLinkActiveOptions]='{exact:true}'>About</a></li>
            <li class="navList"><a class="navLink" routerLink='new/{{newFlag}}' routerLinkActive='navLinkActive' [routerLinkActiveOptions]='{exact:true }' skipLocationChange='true'>New Form</a></li>
            <li class="navList"><a class="navLink" routerLink='old/{{oldFlag}}' routerLinkActive='navLinkActive' [routerLinkActiveOptions]='{exact:true }' skipLocationChange='true'>Old Records</a></li>
        </ul>
    </div>
    <div class="mainBody">
        <div class='card'>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

