<div class="mainFull">
    <div class="mainNav">
        <ul>
            <li><a routerLink='' routerLinkActive='link-active' [routerLinkActiveOptions]='{exact:true}'>About</a></li>
            <li><a routerLink='new/{{newFlag}}' routerLinkActive='link-active' [routerLinkActiveOptions]='{exact:true }' skipLocationChange='true'>New Form</a></li>
            <li><a routerLink='old/{{oldFlag}}' routerLinkActive='link-active' [routerLinkActiveOptions]='{exact:true }' skipLocationChange='true'>Old Records</a></li>
        </ul>
    </div>
    <div class="mainBody">
        <div class='card'>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

