<!-- This templat will contain Form design -->
<div>
    <div>
        <div class="headingBlock">
            <h2>Bio Data Form</h2>
        </div>
        <div class="subContainer">
            <div class="personalBlock">
                <div class="subHeading">
                    <label>Personal Details</label>
                </div>
                <div class="formBody">
                    <form [formGroup]='personalDetails'>
                        <div>
                            <mat-form-field>
                                <input matInput type= 'text' placeholder="Name" formControlName= 'name'>     
                            </mat-form-field>  
                        </div>   
                        <div>
                            <mat-form-field>
                                <input matInput type= 'text' placeholder="Father's Name" formControlName= 'fName'>     
                            </mat-form-field>  
                        </div>
                        <div>
                            <img id='displayImage' [src]='displayImageSrc' width="100px" height="150px;">
                            <button type="button" (click)="openFileSelector()">Browse Files</button>
                            <input type="file" onclick="this.value = null;" accept="image/png,application/pdf,image/jpeg,image/jpg"
                                id="fileBrowse" (change)="onFileSelection($event)" />
                        </div>
                        <div>
                            <mat-form-field>
                                <input matInput [matDatepicker]="dobDatePicker" formControlName="dob"
                                readonly  placeholder="Date of Birth">
                                <mat-datepicker-toggle matSuffix [for]="dobDatePicker" >
                                </mat-datepicker-toggle>
                                <mat-datepicker #dobDatePicker>
                                </mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field>
                                <input matInput type= 'text' placeholder="Height" formControlName= 'height'>     
                            </mat-form-field>  
                        </div>
                        <div>
                            <mat-form-field>
                                <input matInput type= 'text' placeholder="Weight" formControlName= 'weight'>     
                            </mat-form-field>  
                        </div>
                        <div>
                            <mat-form-field>
                                <input matInput type= 'text' placeholder="Qualification" formControlName= 'qualification'>     
                            </mat-form-field>  
                        </div>
                        <div>
                            <mat-form-field>
                                <input matInput type= 'text' placeholder="Occupation" formControlName= 'occupation'>     
                            </mat-form-field>  
                        </div>
                        <div>
                            <mat-form-field>
                                <input matInput type= 'text' placeholder="Gotra" formControlName= 'gotra'>     
                            </mat-form-field>  
                        </div>
                        <div>
                            <mat-form-field>
                                <input matInput type= 'text' placeholder="Religion" formControlName= 'religion'>     
                            </mat-form-field>  
                        </div>
                    </form>
                </div>
            </div>
            <div class="familyBlock">
                <div class="subHeading">
                    <label>Family Background</label>
                </div>
                <div class="formBody">
                    <form [formGroup]='familyBackground'>
                        <div>
                            <mat-form-field>
                                <input matInput type= 'text' placeholder="Grand Father's Name" formControlName= 'gFather'>     
                            </mat-form-field>  
                        </div>
                        <div>
                            <mat-form-field>
                                <input matInput type= 'text' placeholder="Father's Name" formControlName= 'fName'>     
                            </mat-form-field>  
                        </div>
                        <div>
                            <mat-form-field>
                                <input matInput type= 'text' placeholder="Mother's Name" formControlName= 'mName'>     
                            </mat-form-field>  
                        </div>
                        <div>
            
                        <!-- Below Mat table is dynamic -> gets created according to column name passed from service creates whole structure -->
                            <!-- For input of Brother/Sister/Bua etc. details dynamically -->
            
                            <table mat-table [dataSource]='relations' width='100%'>
                                <ng-container *ngFor = 'let relation of relationsColumn'>
                                    <ng-container matColumnDef= '{{relation}}' >
                                        <th mat-header-cell *matHeaderCellDef>
                                            <div>{{relation | uppercase}}</div>
                                            <div>
                                                <i class="material-icons plus" (click)='addRelation(relation)' >
                                                    add
                                                </i>
                                            </div>
                                        </th>
                                        <td mat-cell *matCellDef ='let element; let i=index;' style="width: 15%;">
                                            <div *ngIf="element[relation + name]!==null">
                                                <input matInput type="text" [(ngModel)]="element[relation + name]" [ngModelOptions]="{standalone: true}" placeholder="Enter Name">
                                                <i class="material-icons plus delete" (click) = 'deleteRelation(relation,i);'>
                                                    delete 
                                                </i>
                                            </div>                            
                                        </td>
                                    </ng-container>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef='relationsColumn'></tr>
                                <tr mat-row *matRowDef='let row; columns: relationsColumn'></tr>
                            </table>
            
                        <!-- ---------------------------------------------------------------------------------------------------------------------- -->
                        </div>
                    </form>
                </div>
            </div>
            <div class="contactBlock">
                <div class="subHeading">
                    <label>Contact Information</label>
                </div>
                <div class="formBody">
                    <form [formGroup]='contactDetails'>
                        <div>
            
                        <!-- Mat table for celphone input -->
                            <table mat-table [dataSource]='phone' width='100%'>
                                <ng-container matColumnDef='sno'>
                                    <th mat-header-cell *matHeaderCellDef>S.No</th>
                                    <td mat-cell *matCellDef='let i=index'>{{i+1}}</td>
                                </ng-container>
                                <ng-container matColumnDef='phone'>
                                    <th mat-header-cell *matHeaderCellDef>Phone Number</th>
                                    <td mat-cell *matCellDef='let element'>
                                        <input mat-input type='text' [(ngModel)]='element.phone' [ngModelOptions]="{standalone: true}" [value]='element.phone'>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef='action'>
                                    <th mat-header-cell *matHeaderCellDef>Action</th>
                                    <td mat-cell *matCellDef='let element'>
                                        <div>
                                            <i class="material-icons plus" >
                                                add
                                            </i>
                                        </div>
                                        <div>
                                            <i class="material-icons plus delete" >
                                                delete
                                            </i>
                                        </div>
                                    </td>
                                    
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef='phoneColumn'></tr>
                                <tr mat-row *matRowDef='let row; columns: phoneColumn;'></tr>
                            </table>
                        <!-- ----------------------------------------- -->
            
                        </div>
                        <div>
                            <mat-form-field>
                                <textarea matInput type= 'text' placeholder="Address" formControlName= 'address'></textarea>    
                            </mat-form-field>  
                        </div>
                    </form>
                </div>
            </div>
            <div class="buttonBlock">
                <button (click)='createBioData($event)'>Create Bio data</button>
            </div>    
        </div> 
    </div>
</div>

