<!-- This templat will contain Form design -->
<div>
    <form [formGroup]='bioData'>
        <div>
            <mat-form-field>
                <input matInput type= 'text' placeholder="Enter Name" formControlName= 'firstName'>     
            </mat-form-field>  
            <div *ngIf = "bioData.get('firstName').errors && !bioData.get('firstName').touched">
                <mat-error *ngIf = "bioData.get('firstName').hasError('required')"> {{err.REQUIRED}} </mat-error>
            </div>   
        </div>          
    </form>
    
</div>
